<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profiles</title>
</head>
<header>
    <h1>Instagram</h1>
</header>
<body>
    <h1>Users</h1>
    <% jsonData.forEach(user=> { %>
    <div class="user-card" style="border: 1px black solid;">
        <img src="/photos/<%= user.username %>/profile.jpeg" alt="profile pic"
        style="height: 50px; width: auto;">
        <form action="/form" method="post">
            <input type="file">
            <button type="submit">Submit</button>
        </form>
        <h3><a href="/feed?username=<%= user.username %>"><%= user.username %></a></h3>
    </div>
    <% }) %>
</body>

</html>